*:focus {
  outline: none; }

html, body, .app {
  height: 100%;
  max-height: 100%;
  min-height: 100%; }

body {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.app {
  display: flex;
  flex-direction: column; }

button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 9px;
  padding-right: 9px;
  transition: background 0.3s, color 0.3s;
  user-select: none; }
  button:active {
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54); }
  button i.material-icons {
    vertical-align: middle; }

.toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0; }
  .toolbar .name {
    flex-grow: 1;
    padding: 0 8px;
    user-select: none; }
  .toolbar .buttons {
    flex-shrink: 0; }
    .toolbar .buttons button {
      float: left; }

.terminal {
	
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-width: 1px 0;
  height: 200px;
  overflow: auto;
  padding: 4px 0; }
  .terminal div {
    color: #9E9E9E;
    line-height: 1;
    padding: 4px 8px;
    word-break: break-word; }
    .terminal div.out {
      color: #F44336; }
    .terminal div.in {
      color: #2196F3; }

.send-form {
  display: flex;
  flex-shrink: 0; }
  .send-form input {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    flex-grow: 1;
    font: normal 16px/1.5 'Roboto Mono', monospace;
    padding: 0 8px; }
    .send-form input::placeholder {
      color: rgba(0, 0, 0, 0.54); }
  .send-form button {
    flex-shrink: 0; }


.rotate{
	padding:10px;

	margin-right: 30px;
	margin-left: 30px;
}
.rotate_icon{
	font-size: 75px;
    padding: 15px;

    background-color: #F2F3F4;
    border-radius: 10px;
}
.setting{
	font-size: 30px;
    padding: 15px;


    background-color: #F2F3F4;
    border-radius: 10px;
	
}
#setting_btns{
	margin-inline: auto;
	padding: 20px;
	display:none;
	transition: all 1s;

	    
}

.toolbar_icons{
	font-size:35px;
}
.icon_label{
	margin:auto;
	width: fit-content;
}
button:focus{ 
    outline:none !important; 
} 

.row{
	margin-left:0px;
	margin-right:0px;
}
.setting_btn{
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	
}